.container-landing {
  min-height: inherit;

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
    @media (max-width: 400px) {
      grid-gap: 10px;
    }

    a {
      text-decoration: unset;
    }
    
    .card {
      overflow: auto;
      border: 2px solid #FFC900;
      border-radius: 0.6em !important;
      -webkit-border-radius: 0.6em !important;
      -moz-border-radius: 0.6em !important;
      -ms-border-radius: 0.6em !important;
      -o-border-radius: 0.6em !important;
      box-shadow: 0.1em 0.1em 0.3em #898989;
      padding: 10px;
      background: #FFC900;
      display: flex;
      flex-flow: row nowrap;
      height: 120px;
      
      @media(max-width: 400px) {
        height: 100px;
      }
      
      &:hover {
        box-shadow: 0.1em 0.1em 0.7em #505050;
        border: 2px solid #0d6efd;
        cursor: pointer;
      }
      
      .card-info {
        flex: 1;
        
        .card-info__title {
          color: #274B80;
          font-weight: bold;
          text-transform: capitalize;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: left !important;
          -webkit-line-clamp: 1 !important;

          @media (max-width: 400px) {
            font-size: 12px;
          }
        }
        .card-desc {
          color: #dc3545;
          text-transform: capitalize;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: left !important;
          -webkit-line-clamp: 1 !important;

          @media (max-width: 400px) {
            font-size: 11px;
          }
        }
      }
      
      img {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 100px;
        height: 100px;
        
        @media (max-width: 400px) {
          width: 80px;
          height: 80px;
        }
        
        // @media (max-width: 370px) {
        //   width: 60px;
        //   height: 60px;
        // }
      }
    }
  }

  .empty-message {
    text-align: center;
  }
}
