.container-my-pokemon {
  min-height: inherit;

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    a {
      text-decoration: unset;
    }
 
    .card {
      overflow: auto;
      border: 2px solid #FFC900;
      box-shadow: 0.1em 0.1em 0.7em #898989;

      // .fa {
      //   position: absolute;
      //   color: #dc3545;
      //   top: 5px;
      //   right: 5px;
      // }
      
      // &::after {
      //   content: "\f1f8";
      //   position: absolute;
      //   font-family: FontAwesome;
      //   top: 15px;
      //   padding: 5px;
      //   // background: var(--red);
      //   color: #dc3545;
      // }
      
      // &:hover {
      //   box-shadow: 0.1em 0.1em 0.7em #505050;
      //   border: 2px solid #0d6efd;
      //   cursor: pointer;
      // }
      
      .card-header {
        background: #FFC900;

        .card-header-title {
          color: #274B80;
        }
      }

      .card-content {
        background: #F9D962;

        .content {
          text-align: center;
          color: #274B80;

          // .fa {
          //   position: absolute;
          //   color: #dc3545;
          //   top: 5px;
          //   right: 5px;
          // }
        }
      }

      .card-footer {
        background: #FFC900;
        border-top: 0px;
        padding: 10px;
        text-align: center;

        .card-footer-title {
          color: #274B80;
          font-weight: bold;
          text-transform: capitalize;
          text-decoration: unset;
          display: flex;
          // flex-flow: column;
          // align-items: flex-start;
          justify-content: space-between;
        }

        .button-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 5px;

          a {
            width: 100%;
            color: unset;
          }

          .btn {
            width: inherit;
          }
        }
      }
    }
  }


  .empty-message {
    text-align: center;
    color: #dc3545;
  }
}
